<!-- ADMIN PAGE ---------------------------------------------------------------------------------->
<div class="container">

	<!-- Tab panel-------------------------------------------------------------------->
	<ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-bottom: 2.5rem">
		<li class="nav-item">
			<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
				aria-selected="true">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
				aria-selected="false">Manage Categories</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
				aria-selected="false">Manage Users</a>
		</li>
	</ul>

	<div class="tab-content " id="myTabContent">
		<!-------Tab content----------->

		<!-- First Tab: Home ------------------------------------------------------------------------------>
		<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
			<div class="d-flex justify-content-start">
				<!-- flex box: separate into 2 block-->

				<div>
					<!--- left block------>
					<!-- Search form -->
					<input class="form-control" style="margin-bottom: 1rem" type="text" placeholder="Search"
						aria-label="Search">

					<!--List of cards--->
					<div class="card border-primary mb-3" style="width: 18rem;">
						<div class="card-header">Header</div>
						<div class="card-body text-primary">
							<h5 class="card-title">Primary card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of the card's content.</p>
						</div>
					</div>
					<div class="card border-secondary mb-3" style="width: 18rem;">
						<div class="card-header">Header</div>
						<div class="card-body text-secondary">
							<h5 class="card-title">Secondary card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of the card's content.</p>
						</div>
					</div>
					<div class="card border-success mb-3" style="width: 18rem;">
						<div class="card-header">Header</div>
						<div class="card-body text-success">
							<h5 class="card-title">Success card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of the card's content.</p>
						</div>
					</div>
					<div class="card border-danger mb-3" style="width: 18rem;">
						<div class="card-header">Header</div>
						<div class="card-body text-danger">
							<h5 class="card-title">Danger card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of the card's content.</p>
						</div>
					</div>
					<div class="card border-warning mb-3" style="width: 18rem;">
						<div class="card-header">Header</div>
						<div class="card-body text-warning">
							<h5 class="card-title">Warning card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of the card's content.</p>
						</div>
					</div>
					<div class="card border-info mb-3" style="width: 18rem;">
						<div class="card-header">Header</div>
						<div class="card-body text-info">
							<h5 class="card-title">Info card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of the card's content.</p>
						</div>
					</div>
					<div class="card border-light mb-3" style="width: 18rem;">
						<div class="card-header">Header</div>
						<div class="card-body">
							<h5 class="card-title">Light card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of the card's content.</p>
						</div>
					</div>
					<div class="card border-dark mb-3" style="width: 18rem;">
						<div class="card-header">Header</div>
						<div class="card-body text-dark">
							<h5 class="card-title">Dark card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of the card's content. </p>
						</div>
					</div>
				</div>


				<!-- Right block--->
				<div class="flex-grow-1" style="margin-left: 3rem">
					<h2 style="margin-bottom: 2rem"> Products Setting</h2>

					<!--Table------------------------------------------------------------------------------>
					<!--Table head-->
					<table class="table table-hover">
						<thead class="thead-light">
							<tr style="margin: 1rem">
								<th scope="col"></th>
								<th scope="col" style="padding-bottom: 1rem">Product</th>
								<th scope="col">
									Category
									<!--Dropdown button: filter of the data in table -->
									<button class="btn dropdown-toggle btn-sm" type="button" id="dropdownMenu2"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									</button>

									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
										<div class="dropdown-divider"></div>
									</div>
								</th>

								<th scope="col" style="padding-bottom: 1rem">Detail</th>
								<th scope="col">Status
									<button class="btn dropdown-toggle btn-sm" type="button" id="dropdownMenu2"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									</button>

									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
										<div class="dropdown-divider"></div>
								</th>
								<th scope="col" style="padding-bottom: 1rem">Delete</th>
								<!--Table rows-->
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">
									<input type="checkbox" aria-label="Checkbox for following text input"></th>
								<td>TV LG</td>
								<td>Electronic</td>
								<td><a href="#">Detail</a></td>
								<td>End soon</td>
								<td><i class="fas fa-trash-alt" style="margin-left: 1rem"></i></td>
							</tr>
							<tr>
								<th scope="row">
									<input type="checkbox" aria-label="Checkbox for following text input">
								</th>
								<td>Lamborghini</td>
								<td>Car</td>
								<td><a href="#">Detail</a></td>
								<td>Bidding</td>
								<td><i class="fas fa-trash-alt" style="margin-left: 1rem"></i></td>
							</tr>
							<tr>
								<th scope="row">
									<input type="checkbox" aria-label="Checkbox for following text input">
								</th>
								<td>Mark</td>
								<td>Game</td>
								<td><a href="#">Detail</a></td>
								<td>Bidding</td>
								<td><i class="fas fa-trash-alt" style="margin-left: 1rem"></i></td>
							</tr>
							<tr>
								<th scope="row">
									<input type="checkbox" aria-label="Checkbox for following text input">
								</th>
								<td>Mark</td>
								<td>Game</td>
								<td><a href="#">Detail</a></td>
								<td>Ending soon</td>
								<td><i class="fas fa-trash-alt" style="margin-left: 1rem"></i></td>
							</tr>
							<tr>
								<th scope="row">
									<input type="checkbox" aria-label="Checkbox for following text input">
								</th>
								<td>Mark</td>
								<td>Game</td>
								<td><a href="#">Detail</a></td>
								<td>End</td>
								<td><i class="fas fa-trash-alt" style="margin-left: 1rem"></i></td>
							</tr>
						</tbody>
					</table>

					<!-- Pagination--->
					<nav aria-label="Page navigation example" style="margin-top: 2rem">
						<ul class="pagination justify-content-center">
							<li class="page-item disabled">
								<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item">
								<a class="page-link" href="#">Next</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		<!-- Second Tab: Manage categories ------------------------------------------------------------>
		<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
			<div class="d-flex justify-content-start">
				<!-- Flex-->

				<div>
					<!-- Left block-->
					<!-- Search form -->
					<form action="/category/add" method="POST">
						<input class="form-control" name="title" style="margin-bottom: 1rem" type="text"
							placeholder="Title" aria-label="Title">

						<!--button-->
						<button type="submit" class="btn btn-primary btn-lg btn-block"
							style="justify-content: flex-start;">
							Add categories
							<i class="fas fa-plus"></i>
						</button>
					</form>
					<!-- cards-->
					<div class="card border-primary mb-3" style="width: 18rem;margin-top: 1rem">
						<div class="card-header">Header</div>
						<div class="card-body text-primary">
							<h5 class="card-title">Primary card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of the card's content.</p>
						</div>
					</div>
					<div class="card border-secondary mb-3" style="width: 18rem;">
						<div class="card-header">Header</div>
						<div class="card-body text-secondary">
							<h5 class="card-title">Secondary card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of the card's content.</p>
						</div>
					</div>
				</div>

				<!-- right block-->
				<!-- Categories Setting -->
				<div class="flex-grow-1" style="margin-left: 3rem">
					<h2 style="margin-bottom: 2rem"> Categories Setting</h2>

					<table class="table table-hover">
						<thead class="thead-light">
							<tr style="margin: 1rem">
								<th scope="col"></th>
								<th scope="col" style="padding-bottom: 1rem">Name</th>
								<th scope="col" style="padding-bottom: 1rem">Products</th>
								<th scope="col" style="padding-bottom: 1rem">Edit </th>
								<th scope="col" style="padding-bottom: 1rem">Delete</th>

							</tr>
						</thead>
						<tbody>
							{{#each categories}}
							<tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-{{category_id}}"
								aria-expanded="false" aria-controls="group-of-rows-{{category_id}}">
								<!-- click to show children rows-->
								<th scope="row">
									<input type="checkbox" aria-label="Checkbox for following text input"></th>
								<td><a href="/category/{{category_id}}">{{category_title}}</a></td>
								<td>30</td>
								<td><a class="btn btn-sm btn-primary" href="/category/edit/{{category_id}}"
										role="button">
										<i class="fa fa-pencil" aria-hidden="true"></i>
									</a></td>
								<form id="frmDeleteCate{{category_id}}" method="POST"
									action="/category/delete/{{category_id}}">
								</form>
								<td><a class="btn btn-sm btn-danger"
										href="javascript: $('#frmDeleteCate{{category_id}}').submit()" role="button">
										<i class="fa fa-trash-o" aria-hidden="true"></i>
									</a></td>
							</tr>
							{{/each}}
						</tbody>
					</table>

					<div>
						<nav aria-label="Page navigation example" style="margin-top: 10rem">
							<ul class="pagination justify-content-center">
								<li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
								</li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item">
									<a class="page-link" href="#">Next</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<!-- Third Tab: Manage users --------------------------------------------------------------------->
		<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

			<!--Left column--------------------------------------------------------------------------->
			<div class="row">
				<div style="width:18rem">

					<!--search bar-->
					<input class="form-control" style="margin-bottom: 1rem" type="text" placeholder="Search"
						aria-label="Search">

					<!--add user button-->
					<button type="button" class="btn btn-primary btn-lg btn-block"
						style="justify-content: flex-start; ">
						Add user
						<i class="fas fa-plus"></i>
					</button>

					<!--column tab panel-->
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<a class="nav-link border active btn-light btn-lg " style="margin-top: 1rem"
							id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
							aria-controls="v-pills-home" aria-selected="true">
							User</a>
						<a class="nav-link border btn-light btn-lg" style="margin-top: 1rem" id="v-pills-profile-tab"
							data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
							aria-selected="false">
							Upgrade requests (4)</a>
					</div>
				</div>

				<!--Right column--------------------------------------------------------------------------->
				<div class="col ml-5">

					<!-- Header-->
					<h2 style="margin-bottom: 2rem"> Users Setting</h2>

					<!--Tab content-->
					<div class="tab-content" id="v-pills-tabContent">
						<!--User tab content-->
						<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
							aria-labelledby="v-pills-home-tab">

							<table class="table table-hover">
								<thead class="thead-light">
									<tr style="margin: 1rem">
										<th scope="col"></th>
										<th scope="col">Name</th>
										<th scope="col">Email</th>
										<th scope="col">Type</th>
										<th scope="col">Edit </th>
										<th scope="col">Delete</th>

									</tr>
								</thead>
								<tbody>
									{{#each getAllUsers}}

									<tr>
										<td scope="row">
											<input type="checkbox" aria-label="Checkbox for following text input">
										</td>
										<td><a href="#">
												<p>{{fullname}}</p>
											</a></td>
										<td>
											<p>{{email}}</p>
										</td>
										<td>
											<p>{{formatAccountType role_id}}</p>
										</td>
										<td><i class="fas fa-edit"></i></td>
										<td><i class="fas fa-trash-alt" style="margin-left: 1rem"></i></td>
									</tr>

									{{/each}}

								</tbody>
							</table>

							<div>
								<nav aria-label="Page navigation example" style="margin-top: 10rem">
									<ul class="pagination justify-content-center">
										<li class="page-item disabled">
											<a class="page-link" href="#" tabindex="-1"
												aria-disabled="true">Previous</a>
										</li>
										<li class="page-item"><a class="page-link" href="#">1</a></li>
										<li class="page-item"><a class="page-link" href="#">2</a></li>
										<li class="page-item"><a class="page-link" href="#">3</a></li>
										<li class="page-item">
											<a class="page-link" href="#">Next</a>
										</li>
									</ul>
								</nav>
							</div>

						</div>
						<!--Upgrade request tab content-->
						<div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
							aria-labelledby="v-pills-profile-tab">

							<table class="table table-hover">
								<thead class="thead-light">
									<tr style="margin: 1rem">
										<th scope="col" style="padding-bottom: 1rem"></th>
										<th scope="col" style="padding-bottom: 1rem">Name</th>
										<th scope="col" style="padding-bottom: 1rem">Detail</th>
										<th scope="col" style="padding-bottom: 1rem">Type</th>
										<th scope="col" style="padding-bottom: 1rem"></th>
										<th scope="col" style="padding-bottom: 1rem"></th>

									</tr>
								</thead>
								<tbody>
									{{#each sellerRequests}}
									<tr>
										<td style="padding-top: 1.7rem" scope="row">
											<input type="checkbox" aria-label="Checkbox for following text input">
										</td>
										<td style="padding-top: 1.7rem">
											<a href="#">
												<p>{{fullname}}</p>
											</a>
										</td>
										<td style="padding-top: 1.7rem">{{formatDate request_date}}</a></td>
										<td style="padding-top: 1.7rem">
											<p>{{formatAccountType role_id}} </p>
										</td>
										<td>
											<form id="acpRequest{{request_id}}" method="POST"
												action="/account/update/{{account_id}}">
												<button type="submit" formaction="/account/update/{{account_id}}"
													class="btn btn-light z-depth-0 btn-sm">Accept</button>
											</form>
										</td>
										<td>
											<form id="denyRequest{{request_id}}" method="POST"
												action="/account/deny/{{account_id}}">
												<button type="submit" formaction="/account/deny/{{account_id}}"
													class="btn btn-light z-depth-0 btn-sm">Deny</button>
											</form>
										</td>
									</tr>
									{{/each}}

								</tbody>
							</table>
							<div>
								<nav aria-label="Page navigation example" style="margin-top: 10rem">
									<ul class="pagination justify-content-center">
										<li class="page-item disabled">
											<a class="page-link" href="#" tabindex="-1"
												aria-disabled="true">Previous</a>
										</li>
										<li class="page-item"><a class="page-link" href="#">1</a></li>
										<li class="page-item"><a class="page-link" href="#">2</a></li>
										<li class="page-item"><a class="page-link" href="#">3</a></li>
										<li class="page-item">
											<a class="page-link" href="#">Next</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>

</div>