<div class="container mt-3">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <h3>Danh mục sản phẩm</h3>
            <form class="ml-3 mt-3">
                <div class="custom-control custom-checkbox mb-2 ">
                    <input type="checkbox" class="custom-control-input" checked id="category_all">
                    <label class="custom-control-label" for="category_all">Tất cả</label>
                </div>
                {{#each categories}}
                <div class="custom-control custom-checkbox mb-2">
                    <input type="checkbox" class="custom-control-input" id="category_{{category_id}}">
                    <label class="custom-control-label" for="category_{{category_id}}">{{category_title}}</label>
                </div>
                {{/each}}
                <button class="btn btn-success btn-sm">Lọc</button>
            </form>
        </div>
        <div class="col-md-9 col-sm-12 border-left container">
            {{#if isEmpty}}
            <h3>Không có sản phẩm!!!</h3>
            {{else}}
            <div class="d-flex justify-content-left mx-auto row ">
                {{#each products}}
                <div class="rounded-lg col-md-4 mb-5" style="font-size: 10pt;">
                    <div class="card bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header">{{product_id}} </div>
                        <div class="card-body">
                            <h5 class="card-title">{{product_name}}</h5>
                            <h6 class="card-title">{{formatPrice highest_price}}</h6>
                            <div class="d-flex justify-content-between">
                                <button type="button" class="btn btn-primary btn-sm ">
                                    <i class="fa fa-eye"></i>
                                    Xem                                
                                </button>
                                <button type="button" class="btn btn-primary btn-sm ">
                                    <i class="fa fa-trash"></i>
                                    Xóa   
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/if}}
        </div>
    </div>
</div>
