<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CDTH - Online Auction Floor</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
    {{{_sections.css}}}
</head>

<body>

    <!--Navbar-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark  special-color-dark">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="/"><i class="fa fa-home" aria-hidden="true"></i> CDTH</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Trang chủ
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Thông tin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ</a>
                </li>

                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Danh mục</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        {{#each categories}}
                        <a class="dropdown-item" href="/category/{{category_id}}">{{category_title}}</a>
                        {{/each}}
                    </div>
                </li>

            </ul>
            <!-- Links -->

            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item d-none d-xl-inline-block">
                    <form class="form-inline" method="POST" action="/product/search">
                        <div class="my-0 input-group">
                            <span class="input-group-append">
                                <div class="input-group-text" style="border-radius: 100px 0 0 100px;"><i
                                        class="fa fa-search"></i></div>
                            </span>
                            <input class="form-control mr-sm-2" style="border-radius: 0 100px 100px 0;"
                                name="searchKeyword" type="text" value="{{previousKeyword}}" placeholder="Search" aria-label="Search">

                        </div>
                    </form>
                </li>
                <form id="frmSignout" action="/account/signout" method="POST"></form>
                {{#if isAuthenticated}}
                    {{#if isBidder}}
                        <li class="nav-item d-none d-xl-inline-block">
                            <a class="nav-link waves-effect waves-light rounded-pill btn-sm" href="/account/vote">
                                <i class="fas fa-chart-line"></i>
                                <span>{{formatPercent voteRate}}</span>
                            </a>
                        </li>

                        <li class="nav-item d-none d-xl-inline-block">
                            <a class="nav-link waves-effect waves-light rounded-pill btn-sm" href="/account/won">
                                <i class="fas fa-crown"></i>
                            </a>
                        </li>
                        
                        <li class="nav-item d-none d-xl-inline-block">
                            <a class="nav-link waves-effect waves-light rounded-pill btn-sm" href="/account/bidding">
                                <i class="fas fa-history"></i>
                            </a>
                        </li>
                    {{/if}}
                    <li class="nav-item d-none d-xl-inline-block">
                        <a class="nav-link waves-effect waves-light rounded-pill btn-sm" href="/account/watchlist">
                            <i class="fas fa-digital-tachograph"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light rounded-pill btn-sm  blue-gradient mt-1 pt-1 pb-1" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i> {{authUser.fullname}}</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/account/profile">Profile</a>
                            <a class="dropdown-item" href="javascript: $('#frmSignout').submit()">Logout</a>
                        </div>
                    </li>

                {{else}}
                    <li class="nav-item d-none d-xl-inline-block">
                        <a class="nav-link waves-effect waves-light rounded-pill btn-sm" href="/account/signin">
                            <span><i class="fas fa-sign-in-alt" aria-hidden="true"></i> Sign in</span>
                        </a>
                    </li>
                    <li class="nav-item d-none d-xl-inline-block">
                        <a class="nav-link waves-effect waves-light rounded-pill btn-sm blue-gradient mt-1 pt-1 pb-1"
                            href="/account/signup">
                            <span><i class="fa fa-user-plus" aria-hidden="true"></i> Sign up</span>
                        </a>
                    </li>
                {{/if}}

            </ul>
        </div>
        <!-- Collapsible content -->

    </nav>
    {{{body}}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
    {{{_sections.js}}}
</body>

</html>