{{#sections 'css'}}

{{/sections}}

<div>
    <div class="mt-5 pt-4">
        <div class="container prd-dark-grey-text">
            <div class="row">
                <div class="col-md-7 mb-4 border-right">
                    <img class="img-fluid" src="/public/upload/{{product.product_id}}/main.jpg"
                        alt={{product.product_name}} />
                </div>
                <div class="col-md-5 mb-4 text-left">
                    <div class="p-4">
                        <h3>{{product.product_name}}</h3>
                        {{!-- <a href="/product/{{product.product_id}}" class="mb-3">Mã sản phẩm: {{product.product_id}}</a> --}}
                        <div class="mb-3">
                            <a href="/">
                                <span
                                    class="badge badge-pill badge-primary mr-1">{{category.category_title}}</span>
                            </a>
                            <a href="/">
                                <span class="badge badge-pill badge-danger mr-1">Mới</span>
                            </a>
                            <a href="/">
                                <span class="badge badge-pill badge-warning mr-1">Bán chạy</span>
                            </a>
                        </div>
                        <p class="font-weight-bold text-danger">
                            {{formatPrice product.highest_price}}</p>

                        <p class="mb-3 font-weight-bold prd-large-text">Mô tả:</p>
                        <p>{{product.tiny_desc}}</p>

                        <form>
                            <input type="number" value="{{increasePrice product.highest_price}}" aria-label="Search"
                                class="form-control" />
                            <div class="d-flex justify-content-left">
                                <button class="btn btn-primary w-50 mr-1 mt-3 font-weight-bold" type="submit">Ra giá</button>
                                <button class="btn btn-success w-50 ml-1 mt-3" type="submit">
                                    <p class="m-0 font-weight-bold">Mua ngay</p>
                                    <p class="m-0">{{formatPrice product.purchase_price}}</p>
                                </button>
                            </div class="d-flex justify-content-left">

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <hr class="container">
        </hr>

        <div class="mb-3 rounded container">
            <div class="row p-5 prd-att-background d-flex">
                <h3 class="mb-4">Lịch sử đấu giá</h3>
                <table class="table text-left prd-normal-text">
                    <thead>
                        <tr>
                            <th class="w-25">Thời điểm</th>
                            <th class="w-25">Người đấu giá</th>
                            <th class="w-75">Số tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each this.history}}
                        <tr>
                            <td>{{formatDate creation_date}}</td>
                            <td>{{fullname}}</td>
                            <td>{{formatPrice price}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>