{{#section 'js'}}
<script src="https://raw.githubusercontent.com/mckamey/countdownjs/master/countdown.js"></script>
<script>
    var timer = new Timer();
    timer.start();
    timer.addEventListener('secondsUpdated', function (e) {
        $('#basicUsage').html(timer.getTimeValues().toString());
    });

</script>
{{/section}}

<div class="container">
    <div class="d-flex justify-content-left mx-auto row">
        {{#each endingSoon}}
        <div class="rounded-lg col-md-3 mb-5" style="font-size: 10pt;">
            <a href="/product/{{product_id}}" style="text-decoration: none; color: inherit;">
                <div class="d-flex justify-content-between">
                    <div class="d-inline-flex p-2">
                        <div class="font-weight-bold text-warning">
                            <p><i class="fa fa-heart" aria-hidden="true"></i></p>
                        </div>
                    </div>
                    <div class="d-inline-flex p-2">
                        <div class="font-weight-bold">
                            <p><i class="fa fa-gavel" aria-hidden="true"></i> {{offer_count}}</p>
                        </div>
                    </div>
                </div>
                <img src="/public/upload/{{product_id}}/main.jpg" class="card-img-top height-auto"
                    alt="...">
                <div class="list-group">
                    <div class="d-flex justify-content-between" style="padding-right:10px; padding-left:10px; ">
                        <div>
                            <p style="margin-bottom: 0rem">Người đăng:</p>
                        </div>
                        <div>
                            <p class="text-primary" style="margin-bottom: 0rem;">
                                {{bidder_name}}</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between" style="padding-right:10px; padding-left:10px; ">
                        <div>
                            <p style="margin-bottom: 0rem">Ngày đăng:</p>
                        </div>
                        <div>
                            <p class="text-secondary" style="margin-bottom: 0rem;">
                                {{formatDate start_date}}</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between" style="padding-right:10px; padding-left:10px; ">
                        <div>
                            <p class="" style="margin-bottom: 0rem;">Giá:</p>
                        </div>
                        <div>
                            <p class="text-warning mb-0">{{formatPrice highest_price}}</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between" style="padding-right:10px; padding-left:10px; ">
                        <div>
                            <p class="" style="margin-bottom: 0rem;">Giá mua ngay:</p>
                        </div>
                        <div>
                            <p class="text-warning mb-0">{{formatPrice purchase_price}}</p>
                        </div>
                    </div>
                    <p id="basicUsage" class="font-weight-bold text-center text-danger border-bottom mt-0"
                        style="font-size: 16pt;margin-bottom: 0rem;">
                        00:00:00</p>
                    <div class="text-center" style="font-size: 18px;">
                        <p class="ml-2 mr-2 mb-0" style="height: 48px;font-size: 12pt">
                            {{product_name}}</p>

                        <div class=" d-flex justify-content-end">

                            <div class="position-absolute d-inline-flex" style="padding-right: 5px;">
                                <img src="assets/Items/heart.jpg" alt="" class="rounded-circle"
                                    style="height: 2rem; width: 2rem;"></div>
                        </div>
                        <button class="btn btn-sm btn-outline-primary w-75">
                            <p class="m-0"><i class="fa fa-cart-plus" aria-hidden="true"></i><span>
                                    Mua ngay</span>
                            </p>
                        </button>
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>